@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/font/MaterialIcons-Regular.eot');
  /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('../../assets/font/MaterialIcons-Regular.woff2') format('woff2'),
    url('../../assets/font/MaterialIcons-Regular.woff') format('woff'),
    url('../../assets/font/MaterialIcons-Regular.ttf') format('truetype');
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url('../../assets/img/pattern.png');
  height: 100%;
  width: 100%;
}

table {
  width: 100%;
}

table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

td,
th {
  padding: 10px;
}

.max-width-400 {
  max-width: 400px;
  width: 100%;
}

.height-50 {
  height: 50px;
}

.opacity-0 {
  opacity: 0;
  visibility: hidden;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-right-15 {
  margin-right: 15px;
}

.padding-top-5 {
  padding-top: 5px;
}

.padding-bottom-5 {
  padding-bottom: 5px;
}

.padding-left-5 {
  padding-left: 5px;
}

.padding-right-5 {
  padding-right: 5px;
}

.padding-left-15 {
  padding-left: 15px;
}

.padding-right-15 {
  padding-right: 15px;
}

.border-top-left-radius-4 {
  border-top-left-radius: 4px;
}

.border-top-right-radius-4 {
  border-top-right-radius: 4px;
}

.cursor-pointer {
  cursor: pointer;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.fixed-background-1 {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  background-image: url('../../assets/img/loader.gif');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10000;
}

.fixed-background-2 {
  display: table;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(54, 25, 25, .5);
  z-index: 10000;
}

.position-center {
  position: fixed;
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.position-relative {
  position: relative;
}

.overflow-auto {
  overflow: auto;
}

.image-thumbnail {
  border: 1px solid #dddddd;
  padding: 5px;
}

.image-responsive {
  width: calc(100% - 10px);
  height: auto;
}

.font-color-1 {
  color: #ce352c;
}

.font-color-2 {
  color: #fa6800;

}

.font-color-3 {
  color: #000000;
}

.map-badge {
  position: absolute;
  top: 6px;
  left: 34px;
  height: 15px;
  width: 25px;
  text-align: center;
  font-size: 13px;
  color: white;
  background-color: blue;
  border-radius: 10px;
  z-index: 20;
}

.map-container-1 {
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  position: absolute !important;
  width: 100%;
  height: 100%;
}

.map-container-2 {
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  position: absolute !important;
  bottom: 0px;
  width: 100%;
  height: 50%;
  border-top: 4px solid #000000;
}

.map-container-3 {
  height: 252px;
  width: 100%;
}

.map-split-height {
  height: calc(50% - 4px) !important;
}

.map-split-bottom {
  bottom: calc(50% + 20px) !important;
}

.map-split-opacity {
  opacity: 1 !important;
  visibility: visible !important;
}

.map-action-menu-1 {
  position: absolute;
  top: 5px;
  right: 5px;
}

.map-action-menu-2 {
  position: absolute;
  top: 5px;
  left: 5px;
}

.map-action-menu-3 {
  position: absolute;
  bottom: 20px;
  left: 5px;
}

.map-action-menu-4 {
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
}

.map-action-menu-5 {
  position: absolute;
  bottom: 17px;
  right: 50px;
}

.dialog-container {
  position: relative;
  margin: auto;
  width: 80vw;
}

.fade-animation.ng-move,
.fade-animation.ng-enter,
.fade-animation.ng-leave {
  -webkit-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.fade-animation.ng-leave.ng-leave-active,
.fade-animation.ng-move,
.fade-animation.ng-enter {
  opacity: 0;
}

.fade-animation.ng-leave,
.fade-animation.ng-move.ng-move-active,
.fade-animation.ng-enter.ng-enter-active {
  opacity: 1;
}

.fade-toogle {
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  opacity: 1;
}

.fade-toogle.ng-hide {
  opacity: 0;
}