<div class="container bg-lightGray p-4">
  <div class="tiles-grid">
    <a href="#!/map" class="fg-white" data-size="large" data-role="tile" data-effect="hover-slide-left">
      <div class="slide-front {{::pages.map.data.bgColor.normal}}">
        <span class="mif-map icon"></span>
      </div>
      <div class="slide-back {{::pages.map.data.bgColor.light}} d-flex flex-justify-center flex-align-center p-4 op-mauve">
        <p class="text-center h4">
          Displays centres, locations and sensors on map.
        </p>
      </div>
      <span class="branding-bar">Map</span>
    </a>
    <a href="#!/search" class="fg-white" data-size="wide" data-role="tile" data-effect="hover-slide-left">
      <div class="slide-front {{::pages.search.data.bgColor.normal}}">
        <span class="mif-search icon"></span>
      </div>
      <div class="slide-back {{::pages.search.data.bgColor.light}} d-flex flex-justify-center flex-align-center p-4 op-mauve">
        <p class="text-center h4">
          Search centres, location or sensor by text or apply filter.
        </p>
      </div>
      <span class="branding-bar">Search</span>
    </a>
    <a href="#!/route/step-1" class="fg-white" data-size="wide" data-role="tile" data-effect="hover-slide-left">
      <div class="slide-front {{::pages.route.data.bgColor.normal}}">
        <span class="mif-flow-branch icon"></span>
      </div>
      <div class="slide-back {{::pages.route.data.bgColor.light}} d-flex flex-justify-center flex-align-center p-4 op-mauve">
        <p class="text-center h4">
          Generates route between selected centres and sensors.
        </p>
      </div>
      <span class="branding-bar">Route</span>
    </a>
    <a href="#!/about" class="fg-white" data-size="wide" data-role="tile" data-effect="hover-slide-left">
      <div class="slide-front {{::pages.about.data.bgColor.normal}}">
        <span class="mif-info icon"></span>
      </div>
      <div class="slide-back {{::pages.about.data.bgColor.light}} d-flex flex-justify-center flex-align-center p-4 op-mauve">
        <p class="text-center h4">
          Displays information about application.
        </p>
      </div>
      <span class="branding-bar">About</span>
    </a>
    <div data-role="tile" data-effect="hover-slide-left">
      <div class="slide-front bg-indigo">
        <span class="mif-tools icon"></span>
      </div>
      <div class="slide-back bg-lightIndigo d-flex flex-justify-center flex-align-center p-4 op-mauve">
        <p class="text-center h4">
          v2.1.1
        </p>
      </div>
      <span class="branding-bar">Version</span>
    </div>
  </div>
</div>