<div class="container bg-lightGray p-4">
  <div class="tiles-grid">
    <div data-size="large" data-role="tile" data-effect="hover-slide-left">
      <div class="slide-front bg-orange">
        <span class="mif-user icon"></span>
      </div>
      <div class="slide-back bg-lightOrange d-flex flex-justify-center flex-align-center p-4 op-mauve">
        <p class="text-center h4" data-ng-bind="email"></p>
      </div>
      <span class="branding-bar">Welcome</span>
    </div>
    <a href="#!/map" class="fg-white" data-size="large" data-role="tile" data-effect="hover-slide-left">
      <div class="slide-front {{::pageData.pd002.data.bgColor.normal}}">
        <span class="mif-map icon"></span>
      </div>
      <div class="slide-back {{::pageData.pd002.data.bgColor.light}} d-flex flex-justify-center flex-align-center p-4 op-mauve">
        <p class="text-center h4">
          Display centres, locations and sensors on map.
        </p>
      </div>
      <span class="branding-bar">Map</span>
    </a>
    <a href="#!/search" class="fg-white" data-size="wide" data-role="tile" data-effect="hover-slide-left">
      <div class="slide-front {{::pageData.pd003.data.bgColor.normal}}">
        <span class="mif-search icon"></span>
      </div>
      <div class="slide-back {{::pageData.pd003.data.bgColor.light}} d-flex flex-justify-center flex-align-center p-4 op-mauve">
        <p class="text-center h4">
          Search centres, location or sensor by text or applying filter.
        </p>
      </div>
      <span class="branding-bar">Search</span>
    </a>
    <a href="#!/route/step-1" class="fg-white" data-size="wide" data-role="tile" data-effect="hover-slide-left">
      <div class="slide-front {{::pageData.pd004.data.bgColor.normal}}">
        <span class="mif-flow-branch icon"></span>
      </div>
      <div class="slide-back {{::pageData.pd004.data.bgColor.light}} d-flex flex-justify-center flex-align-center p-4 op-mauve">
        <p class="text-center h4">
          Generate route between selected centres and sensors.
        </p>
      </div>
      <span class="branding-bar">Route</span>
    </a>
    <a href="#!/about" class="fg-white" data-size="wide" data-role="tile" data-effect="hover-slide-left">
      <div class="slide-front {{::pageData.pd006.data.bgColor.normal}}">
        <span class="mif-info icon"></span>
      </div>
      <div class="slide-back {{::pageData.pd006.data.bgColor.light}} d-flex flex-justify-center flex-align-center p-4 op-mauve">
        <p class="text-center h4">
          Display information about application.
        </p>
      </div>
      <span class="branding-bar">About</span>
    </a>
    <div data-role="tile" data-effect="hover-slide-left" data-ng-click="signOut()">
      <div class="slide-front bg-crimson">
        <span class="mif-switch icon"></span>
      </div>
      <div class="slide-back bg-lightCrimson d-flex flex-justify-center flex-align-center p-4 op-mauve">
        <p class="text-center h4">
          Log-out from application.
        </p>
      </div>
      <span class="branding-bar">Logout</span>
    </div>
    <div data-role="tile" data-effect="hover-slide-left">
      <div class="slide-front bg-indigo">
        <span class="mif-tools icon"></span>
      </div>
      <div class="slide-back bg-lightIndigo d-flex flex-justify-center flex-align-center p-4 op-mauve">
        <p class="text-center h4">
          v2.2.1
        </p>
      </div>
      <span class="branding-bar">Version</span>
    </div>
  </div>
</div>