<md-content class="md-padding md-margin" md-whiteframe="1">
  <div layout="row" layout-xs="column">
    <div layout="column" flex flex-gt-xs="25">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Welcome</span>
            <span class="md-body-1">mail@example.com</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm"></div>
          </md-card-title-media>
        </md-card-title>
      </md-card>
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" data-ng-bind="::pageData.pd012.title"></span>
            <span class="md-body-1" data-ng-bind="::pageData.pd012.description"></span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm">
              <img data-ng-src="{{::imageData.id006.path}}" data-ng-attr-alt="{{::imageData.id006.name}}">
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-primary" data-ng-href="{{::pageData.pd012.href}}"
            data-ng-attr-aria-label="{{::pageData.pd012.title}}">
            <md-icon>arrow_forward</md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div layout="column" flex flex-gt-xs="75">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" data-ng-bind="::pageData.pd002.title"></span>
            <span class="md-body-1" data-ng-bind="::pageData.pd002.description"></span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm">
              <img data-ng-src="{{::imageData.id001.path}}" data-ng-attr-alt="{{::imageData.id001.name}}">
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-primary" data-ng-href="{{::pageData.pd002.href}}"
            data-ng-attr-aria-label="{{::pageData.pd002.title}}">
            <md-icon>arrow_forward</md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
      <div layout="row" layout-xs="column" flex>
        <md-card flex>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" data-ng-bind="::pageData.pd003.title"></span>
              <span class="md-body-1" data-ng-bind="::pageData.pd003.description"></span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-sm">
                <img data-ng-src="{{::imageData.id002.path}}" data-ng-attr-alt="{{::imageData.id002.name}}">
              </div>
            </md-card-title-media>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised md-primary" data-ng-href="{{::pageData.pd003.href}}"
              data-ng-attr-aria-label="{{::pageData.pd003.title}}">
              <md-icon>arrow_forward</md-icon>
            </md-button>
          </md-card-actions>
        </md-card>
        <md-card flex>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" data-ng-bind="::pageData.pd004.title"></span>
              <span class="md-body-1" data-ng-bind="::pageData.pd004.description"></span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-sm">
                <img data-ng-src="{{::imageData.id003.paths.p001}}" data-ng-attr-alt="{{::imageData.id003.name}}">
              </div>
            </md-card-title-media>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised md-primary" data-ng-href="{{::pageData.pd004.href}}"
              data-ng-attr-aria-label="{{::pageData.pd004.title}}">
              <md-icon>arrow_forward</md-icon>
            </md-button>
          </md-card-actions>
        </md-card>
        <md-card flex>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" data-ng-bind="::pageData.pd010.title"></span>
              <span class="md-body-1" data-ng-bind="::pageData.pd010.description"></span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-sm">
                <img data-ng-src="{{::imageData.id004.path}}" data-ng-attr-alt="{{::imageData.id004.name}}">
              </div>
            </md-card-title-media>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised md-primary" data-ng-href="{{::pageData.pd010.href}}"
              data-ng-attr-aria-label="{{::pageData.pd010.title}}">
              <md-icon>arrow_forward</md-icon>
            </md-button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </div>
</md-content>