<div class="max-width-400 position-center">
    <md-content class="md-padding md-margin" md-whiteframe="1">
        <div class="text-align-center">
            <img data-ng-src="{{::imageData.id007.path}}" data-ng-attr-alt="{{::imageData.id007.name}}">
        </div>
        <form data-ng-submit="signIn()">
            <md-input-container md-no-float class="md-icon-float md-block">
                <label>E-mail</label>
                <md-icon>mail</md-icon>
                <input type="email" data-ng-model="credentials.email" required>
            </md-input-container>
            <md-input-container md-no-float class="md-icon-float md-block">
                <label>Password</label>
                <md-icon>vpn_key</md-icon>
                <input type="password" data-ng-model="credentials.password" required>
            </md-input-container>
            <div class="text-align-center">
                <md-button class="md-raised md-primary" type="submit" aria-label="Login-Button">
                    <md-icon>arrow_forward</md-icon>
                </md-button>
            </div>
        </form>
    </md-content>
</div>