<div class="row flex-justify-center">
    <div class="cell-md-5">
        <form class="bg-white win-shadow mx-auto p-6" ng-submit="signIn()">
            <span class="mif-vpn-lock mif-4x mt-4-minus place-right"></span>
            <h2 class="text-light">Login</h2>
            <hr class="thin mt-4 mb-4 bg-white">
            <div class="form-group">
                <input type="email" data-role="input" data-prepend="<span class='mif-mail'>" placeholder="E-mail"
                    data-ng-model="credentials.email" required>
            </div>
            <div class="form-group">
                <input type="password" data-role="input" data-prepend="<span class='mif-key'>" placeholder="Password"
                    data-ng-model="credentials.password" required>
            </div>
            <div class="form-group text-center mt-10">
                <button type="submit" class="button square secondary outline w-100" title="Log-in in the application.">
                    <span class="mif-unlock mif-2x"></span>
                </button>
            </div>
        </form>
    </div>
</div>