<md-sidenav class="md-sidenav-left" md-component-id="map-sidebar" md-disable-backdrop md-whiteframe="4">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span data-ng-bind="sidebarActiveData.title"></span>
            <span flex md-truncate></span>
            <md-button data-ng-click="closeSidebar()" aria-label="Close-Button" title="Closes the sidebar.">
                <md-icon>arrow_backward</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content>
        <div data-ng-show="sidebarActiveData.mode == sidebarModes.markerList">
            <div class="padding-left-5 padding-right-15">
                <md-input-container md-no-float class="md-icon-float md-block">
                    <label>Search</label>
                    <md-icon>search</md-icon>
                    <input type="search" data-ng-model="query" data-ng-change="applyFilter()">
                </md-input-container>
            </div>
            <md-card class="cursor-pointer fade-animation" data-ng-click="moveMapTo(item, false)"
                data-ng-repeat="item in tableData track by $index">
                <md-card-content layout="row" layout-xs="column">
                    <div class="text-align-center padding-right-15">
                        <img class="height-50" data-ng-src="{{item.icon}}" alt="Item-Icon">
                    </div>
                    <div layout="column">
                        <strong data-ng-bind="item.name"></strong>
                        <span class="md-body-1" data-ng-bind="item.category.name"></span>
                        <span class="md-caption" data-ng-bind="item.type.name"></span>
                    </div>
                </md-card-content>
            </md-card>
            <div class="text-align-center margin-top-15" data-ng-if="!tableData.length">
                <span>No results to display.</span>
            </div>
        </div>
        <div data-ng-if="sidebarActiveData.mode == sidebarModes.customRouteList">
            <md-card class="cursor-pointer fade-animation" data-ng-click="moveMapTo(item.routeArray[0], false)"
                data-ng-repeat="item in routeData.custom track by $index">
                <md-card-content layout="row" layout-xs="column">
                    <div class="text-align-center padding-right-15">
                        <img class="height-50" data-ng-src="{{item.icon}}" alt="Item-Icon">
                    </div>
                    <div layout="column">
                        <div class="text-align-left">
                            <strong>From :</strong>
                            <span class="md-body-1" data-ng-bind="item.routeInfo.origin"></span>
                            <br>
                            <strong>To :</strong>
                            <span class="md-body-1" data-ng-bind="item.routeInfo.destination"></span>
                        </div>
                        <div class="md-caption">
                            <span>Nodes :</span>
                            <span data-ng-bind="item.routeInfo.totalNodes"></span>
                            <br>
                            <span>Distance :</span>
                            <span data-ng-bind="item.routeInfo.totalDistance"></span>
                            <span>km</span>
                            <br>
                            <span>Score :</span>
                            <span data-ng-bind="item.routeInfo.totalScore"></span>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
            <div class="text-align-center margin-top-15" data-ng-if="!routeData.custom.length">
                <span>No results to display.</span>
            </div>
        </div>
        <div data-ng-if="sidebarActiveData.mode == sidebarModes.emergencyRouteList">
            <md-card class="cursor-pointer fade-animation" data-ng-click="moveMapTo(item.routeArray[0], false)"
                data-ng-repeat="item in routeData.emergency track by $index">
                <md-card-content layout="row" layout-xs="column">
                    <div class="text-align-center padding-right-15">
                        <img class="height-50" data-ng-src="{{item.icon}}" alt="Item-Icon">
                    </div>
                    <div layout="column">
                        <div class="text-align-left">
                            <strong>From :</strong>
                            <span class="md-body-1" data-ng-bind="item.routeInfo.origin"></span>
                            <br>
                            <strong>To :</strong>
                            <span class="md-body-1" data-ng-bind="item.routeInfo.destination"></span>
                        </div>
                        <div class="md-caption">
                            <span>Nodes :</span>
                            <span data-ng-bind="item.routeInfo.totalNodes"></span>
                            <br>
                            <span>Distance :</span>
                            <span data-ng-bind="item.routeInfo.totalDistance"></span>
                            <span>km</span>
                            <br>
                            <span>Score :</span>
                            <span data-ng-bind="item.routeInfo.totalScore"></span>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
            <div class="text-align-center margin-top-15" data-ng-if="!routeData.emergency.length">
                <span>No results to display.</span>
            </div>
        </div>
        <div data-ng-if="sidebarActiveData.mode == sidebarModes.markerInformation">
            <div class="text-align-center margin-top-15" layout="column">
                <span class="md-display-1" data-ng-bind="sidebarActiveData.nodeItem.name"></span>
                <span class="md-title" data-ng-bind="sidebarActiveData.nodeItem.category.name"></span>
                <span class="md-body-1" data-ng-bind="sidebarActiveData.nodeItem.type.name"></span>
            </div>
            <div class="text-align-center margin-top-15" layout="row" layout-align="center center">
                <div flex>
                    <img data-ng-src="{{sidebarActiveData.nodeItem.icon}}" alt="Item-Icon">
                </div>
                <div class="md-display-2">
                    <span>|</span>
                </div>
                <div flex>
                    <img data-ng-src="{{sidebarActiveData.nodeItem.status.icon}}" alt="Sensor-Status">
                    <div class="md-caption">
                        <span data-ng-bind="sidebarActiveData.nodeItem.status.name"></span>
                    </div>
                </div>
            </div>
            <div class="text-align-center margin-top-15" layout="row" layout-align="center center">
                <md-button title="Go up one level." aria-label="Parent-Button" data-ng-click="setParentNodeItem()"
                    data-ng-if="sidebarActiveData.nodeItem.parentId">
                    <md-icon>arrow_backward</md-icon>
                </md-button>
                <md-button title="Show sensor chart." aria-label="Chart-Button" data-ng-click="showChartDialog()"
                    data-ng-if="sidebarActiveData.nodeItem.category.id == 'c003'">
                    <md-icon>show_chart</md-icon>
                </md-button>
                <md-button title="Display more information." aria-label="Info-Button" data-ng-click="showNodeItem()">
                    <md-icon>folder</md-icon>
                </md-button>
            </div>
            <div class="md-display-1 text-align-center margin-top-15"
                data-ng-if="sidebarActiveData.nodeItem.category.id == 'c003'">
                <span data-ng-bind="sidebarActiveData.nodeItem.reading.value"></span>
                <span data-ng-bind="sidebarActiveData.nodeItem.reading.unit"></span>
            </div>
            <div class="text-align-center margin-top-15" data-ng-if="sidebarActiveData.nodeItem.leafNode">
                <md-icon>place</md-icon>
                <span data-ng-bind="sidebarActiveData.nodeItem.address"></span>
            </div>
            <div data-ng-if="!sidebarActiveData.nodeItem.leafNode">
                <md-card class="cursor-pointer fade-animation" data-ng-click="moveMapTo(item, true)"
                    data-ng-repeat="item in tableData track by $index">
                    <md-card-content layout="row" layout-xs="column">
                        <div class="text-align-center padding-right-15">
                            <img class="height-50" data-ng-src="{{item.icon}}" alt="Item-Icon">
                        </div>
                        <div layout="column">
                            <strong data-ng-bind="item.name"></strong>
                            <span class="md-body-1" data-ng-bind="item.category.name"></span>
                            <span class="md-caption" data-ng-bind="item.type.name"></span>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </md-content>
</md-sidenav>
<div class="map-container-1"></div>
<div class="map-action-menu-1">
    <md-fab-speed-dial md-direction="down" class="md-scale">
        <md-fab-trigger>
            <md-button class="md-fab md-raised md-primary" aria-label="menu" title="Opens up menu.">
                <md-icon>menu</md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button class="md-fab md-raised md-mini" data-ng-href="{{::pageData.pd001.href}}"
                data-ng-attr-aria-label="{{::pageData.pd001.title}}"
                data-ng-attr-title="{{::pageData.pd001.description}}">
                <md-icon data-ng-bind="::pageData.pd001.icon"></md-icon>
            </md-button>
            <md-button class="md-fab md-raised md-mini" data-ng-href="{{::pageData.pd002.href}}"
                data-ng-attr-aria-label="{{::pageData.pd002.title}}"
                data-ng-attr-title="{{::pageData.pd002.description}}">
                <md-icon data-ng-bind="::pageData.pd002.icon"></md-icon>
            </md-button>
            <md-button class="md-fab md-raised md-mini" data-ng-href="{{::pageData.pd003.href}}"
                data-ng-attr-aria-label="{{::pageData.pd003.title}}"
                data-ng-attr-title="{{::pageData.pd003.description}}">
                <md-icon data-ng-bind="::pageData.pd003.icon"></md-icon>
            </md-button>
            <md-button class="md-fab md-raised md-mini" data-ng-href="{{::pageData.pd004.href}}"
                data-ng-attr-aria-label="{{::pageData.pd004.title}}"
                data-ng-attr-title="{{::pageData.pd004.description}}">
                <md-icon data-ng-bind="::pageData.pd004.icon"></md-icon>
            </md-button>
            <md-button class="md-fab md-raised md-mini" data-ng-href="{{::pageData.pd010.href}}"
                data-ng-attr-aria-label="{{::pageData.pd010.title}}"
                data-ng-attr-title="{{::pageData.pd010.description}}">
                <md-icon data-ng-bind="::pageData.pd010.icon"></md-icon>
            </md-button>
            <md-button class="md-fab md-raised md-mini" data-ng-href="{{::pageData.pd012.href}}"
                data-ng-attr-aria-label="{{::pageData.pd012.title}}"
                data-ng-attr-title="{{::pageData.pd012.description}}">
                <md-icon data-ng-bind="::pageData.pd012.icon"></md-icon>
            </md-button>
            <md-button class="md-fab md-raised md-mini" data-ng-click="updateLocalNodeData()" aria-label="Update-Button"
                title="Updates local node data.">
                <md-icon>build</md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
</div>
<div class="map-action-menu-2" layout="column">
    <md-button class="md-fab md-raised md-mini" data-ng-click="openSidebar('sd001')"
        data-ng-attr-aria-label="{{::sidebarData.sd001.title}}"
        data-ng-attr-title="{{::sidebarData.sd001.description}}">
        <md-icon data-ng-bind="::sidebarData.sd001.icon"></md-icon>
    </md-button>
    <md-button class="md-fab md-raised md-mini" data-ng-click="openSidebar('sd002')"
        data-ng-attr-aria-label="{{::sidebarData.sd002.title}}"
        data-ng-attr-title="{{::sidebarData.sd002.description}}">
        <md-icon data-ng-bind="::sidebarData.sd002.icon"></md-icon>
    </md-button>
    <md-button class="md-fab md-raised md-mini" data-ng-click="openSidebar('sd003')"
        data-ng-attr-aria-label="{{::sidebarData.sd003.title}}"
        data-ng-attr-title="{{::sidebarData.sd003.description}}">
        <md-icon data-ng-bind="::sidebarData.sd003.icon"></md-icon>
    </md-button>
    <md-button class="md-fab md-mini md-raised" data-ng-click="openSidebar('sd004')"
        data-ng-attr-aria-label="{{::sidebarData.sd004.title}}"
        data-ng-attr-title="{{::sidebarData.sd004.description}}">
        <md-icon data-ng-bind="::sidebarData.sd004.icon"></md-icon>
    </md-button>
    <md-button class="md-fab md-raised md-mini" data-ng-click="openSidebar('sd005')"
        data-ng-attr-aria-label="{{::sidebarData.sd005.title}}"
        data-ng-attr-title="{{::sidebarData.sd005.description}}">
        <md-icon data-ng-bind="::sidebarData.sd005.icon"></md-icon>
    </md-button>
</div>
<div class="map-action-menu-3" layout="row" layout-align="end end">
    <div layout="column">
        <md-button class="md-fab md-mini md-raised" data-ng-click="openSidebar('sd007')"
            data-ng-attr-aria-label="{{::sidebarData.sd007.title}}"
            data-ng-attr-title="{{::sidebarData.sd007.description}}">
            <md-icon data-ng-bind="::sidebarData.sd007.icon"></md-icon>
        </md-button>
        <md-button class="md-fab md-mini md-raised" data-ng-click="openSidebar('sd006')"
            data-ng-attr-aria-label="{{::sidebarData.sd006.title}}"
            data-ng-attr-title="{{::sidebarData.sd006.description}}">
            <md-icon data-ng-bind="::sidebarData.sd006.icon"></md-icon>
        </md-button>
    </div>
    <div layout="column">
        <md-button class="md-fab md-mini md-raised" data-ng-click="openSidebar('sd009')"
            data-ng-attr-aria-label="{{::sidebarData.sd009.title}}"
            data-ng-attr-title="{{::sidebarData.sd009.description}}">
            <md-icon data-ng-bind="::sidebarData.sd009.icon"></md-icon>
        </md-button>
        <md-button class="md-fab md-mini md-raised" data-ng-click="openSidebar('sd008')"
            data-ng-attr-aria-label="{{::sidebarData.sd008.title}}"
            data-ng-attr-title="{{::sidebarData.sd008.description}}">
            <md-icon data-ng-bind="::sidebarData.sd008.icon"></md-icon>
        </md-button>
    </div>
    <div layout="column">
        <md-button class="md-fab md-mini md-raised" data-ng-click="openSidebar('sd011')"
            data-ng-attr-aria-label="{{::sidebarData.sd011.title}}"
            data-ng-attr-title="{{::sidebarData.sd011.description}}">
            <md-icon data-ng-bind="::sidebarData.sd011.icon"></md-icon>
        </md-button>
        <md-button class="md-fab md-mini md-raised" data-ng-click="openSidebar('sd010')"
            data-ng-attr-aria-label="{{::sidebarData.sd010.title}}"
            data-ng-attr-title="{{::sidebarData.sd010.description}}">
            <md-icon data-ng-bind="::sidebarData.sd010.icon"></md-icon>
        </md-button>
    </div>
    <div layout="column">
        <md-button class="md-fab md-mini md-raised" data-ng-click="openSidebar('sd012')"
            data-ng-attr-aria-label="{{::sidebarData.sd012.title}}"
            data-ng-attr-title="{{::sidebarData.sd012.description}}">
            <md-icon data-ng-bind="::sidebarData.sd012.icon"></md-icon>
        </md-button>
    </div>
</div>
<div class="fade-toogle fixed-background-2" ng-show="chartDialogVisible">
    <div class="position-center">
        <md-card class="chart-container">
            <md-card-content>
                <div class="text-align-right">
                    <md-button class="md-icon-button" aria-label="Close-Button" data-ng-click="hideChartDialog()">
                        <md-icon>close</md-icon>
                    </md-button>
                </div>
                <div class="text-align-center">
                    <canvas class="chart-canvas"></canvas>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>