<div id="map" class="map-container-1"></div>
<div class="btn-group map-btn-group-container" role="group" aria-label="Basic example">
    <button type="button" class="map-btn">Left</button>
    <button type="button" class="map-btn">Middle</button>
    <button type="button" class="map-btn">Right</button>
</div>
<div class="card map-card-container">
    <div class="card-body p-1">
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action p-1" ng-repeat="item in nodeData track by $index"
                ng-click="moveTo(item.latitude, item.longitude)">
                <span>
                    <img height="25px" ng-src="{{item.icon}}" alt="map-icon">
                </span>
                <small ng-bind="item.name"></small>
            </button>
        </div>
    </div>
</div>
<div class="modal fade" id="promptModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Prompt</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="promptBody">
                    <p>
                        Map detected <span ng-bind="abnormalSensor"></span> abnormal sensor(s), Do you want to
                        generate optimal route?
                    </p>
                </div>
                <div class="text-right">
                    <div class="d-md-inline-block mb-2">
                        <button type="button" class="btn btn-outline-secondary button-min-width" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-outline-secondary button-min-width" ng-click="generateRoute()">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>