<div class="container bg-lightGray p-4">
    <div class="row flex-align-center mb-4">
        <div class="cell-md-2">
            <h1>Step 1</h1>
        </div>
        <div class="cell-md-10">
            <h5>Select centre(s) from which route will start.</h5>
        </div>
    </div>
    <hr class="bg-gray">
    <nav class="mt-4" data-role="ribbonmenu">
        <ul class="tabs-holder">
            <li><a href="#section-1-1">Main</a></li>
        </ul>
        <div class="content-holder">
            <div class="section" id="section-1-1">
                <div class="group">
                    <button class="ribbon-button" ng-click="toogleCentreDivision()">
                        <div class="ribbon-container" ng-if="!visibleDivision1">
                            <span class="icon">
                                <span class="mif-folder-open"></span>
                            </span>
                            <span class="caption">Open</span>
                        </div>
                        <div class="ribbon-container" ng-if="visibleDivision1">
                            <span class="icon">
                                <span class="mif-cancel"></span>
                            </span>
                            <span class="caption">Close</span>
                        </div>
                    </button>
                    <span class="title">Centre</span>
                </div>
                <div class="group">
                    <button class="ribbon-button" ng-click="toogleLocationDivision()">
                        <div class="ribbon-container" ng-if="!visibleDivision2">
                            <span class="icon">
                                <span class="mif-folder-open"></span>
                            </span>
                            <span class="caption">Open</span>
                        </div>
                        <div class="ribbon-container" ng-if="visibleDivision2">
                            <span class="icon">
                                <span class="mif-cancel"></span>
                            </span>
                            <span class="caption">Close</span>
                        </div>
                    </button>
                    <span class="title">Location</span>
                </div>
            </div>
        </div>
    </nav>
    <div id="centreDivision" class="bg-white" style="display: none;">
        <div class="row">
            <div class="cell-md-4 order-sm-2">
                <div class="px-4 my-3">
                    <div class="mb-4">
                        <strong>Type</strong>
                    </div>
                    <div class="form-check" ng-repeat="type in ::centreTypes track by $index">
                        <input type="radio" name="filter1" data-role="radio" ng-attr-data-caption="{{type}}" ng-click="setFilter1(type)">
                    </div>
                    <div class="form-check text-right mt-2">
                        <input type="radio" name="filter1" data-role="radio" ng-attr-data-caption="View all" ng-click="setFilter1('*')"
                            checked>
                    </div>
                </div>
            </div>
            <div class="cell-md-8 order-sm-1">
                <div class="mt-2 mb-5 mx-2">
                    <input type="text" data-role="input" data-prepend="&lt;span class='mif-search'>&lt;/span>" ng-model="search"
                        ng-change="changePage(1)">
                </div>
                <div class="card fade-animation bg-light my-1" ng-repeat="item in tableData track by $index">
                    <div class="card-content p-1">
                        <div class="row no-gap">
                            <div class="cell-md-1 text-center px-1">
                                <img class="py-3" ng-src="{{item.icon}}" alt="map-icon">
                            </div>
                            <div class="cell">
                                <strong ng-bind="item.name"></strong><br>
                                <strong><small ng-bind="item.category"></small></strong><br>
                                <small ng-bind="item.typeName"></small>
                            </div>
                            <div class="cell-md-2 text-right pr-0">
                                <button type="button" class="button square secondary outline small" ng-click="selectCentre(item)">
                                    <span class="mif-plus mif-2x"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center" ng-if="!tableData.length">
                    No centre(s) to display.
                </div>
                <div class="mt-4">
                    <ul class="pagination flex-justify-center no-gap">
                        <li ng-class="{'page-item': true, 'disabled': pager.currentPage &lt;= 1}">
                            <a class="page-link" ng-click="changePage(pager.currentPage - 1)">
                                <span class="mif-chevron-left fg-black"></span>
                            </a>
                        </li>
                        <li ng-class="{'page-item': true, 'active': pager.currentPage == page}" ng-repeat="page in pager.pages">
                            <a class="page-link" ng-click="changePage(page)" ng-bind="page"></a>
                        </li>
                        <li ng-class="{'page-item': true, 'disabled': pager.currentPage &gt;= pager.totalPages}">
                            <a class="page-link" ng-click="changePage(pager.currentPage + 1)">
                                <span class="mif-chevron-right fg-black"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="locationDivision" class="bg-white p-4" style="display: none;">
        <div class="my-2"><small> Note : Right click on location to record its latitude and longitude.</small></div>
        <div id="map2" class="map-container-2"></div>
        <form class="mt-2" ng-submit="selectLocation()">
            <div class="row">
                <div class="cell-md-6">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" data-role="input" ng-model="customCentre.name" required>
                    </div>
                    <div class="form-group">
                        <label for="rating">Rating</label><br>
                        <input name="rating" data-role="rating" ng-model="customCentre.rating"><br>
                        <small class="form-text">More the rating more the chance that route will start from
                            this location.</small>
                    </div>
                </div>
                <div class="cell-md-6 text-center mt-3">
                    <div class="row">
                        <div class="cell-md-6">
                            <strong>Lat :</strong>
                            <span id="lat">Null</span>
                        </div>
                        <div class="cell-md-6">
                            <strong>Lng :</strong>
                            <span id="lng">Null</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-2 text-right">
                <button type="submit" class="button square secondary outline button-min-width">
                    <span class="mif-plus mif-2x"></span>
                </button>
            </div>
        </form>
    </div>
    <div class="mt-4" data-role="panel" data-title-icon="&lt;span class='mif-clipboard'>&lt;/span>">
        <div class="card fade-animation bg-light my-1" ng-repeat="item in selectedCentres track by $index">
            <div class="card-content p-1">
                <div class="row no-gap">
                    <div class="cell-md-1 text-center px-1">
                        <img class="py-3" ng-src="{{item.icon}}" alt="map-icon">
                    </div>
                    <div class="cell">
                        <strong ng-bind="item.name"></strong><br>
                        <strong><small ng-bind="item.category"></small></strong><br>
                        <small ng-bind="item.typeName"></small>
                    </div>
                    <div class="cell-md-2 text-right pr-0">
                        <button type="button" class="button square secondary outline small" ng-click="removeCentre(item)">
                            <span class="mif-bin mif-2x"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center" ng-if="!selectedCentres.length">
            [Empty]
        </div>
    </div>
    <div class="text-right mt-4">
        <button class="button square secondary outline button-min-width" type="button" ng-click="nextStep()">
            <span class="mif-arrow-right"></span>
        </button>
    </div>
</div>