<div class="container bg-lightGray p-4" ng-if="sensorItemLoaded">
    <div class="row">
        <div class="cell-md-4 mb-4">
            <img ng-src="{{sensorItem.photo}}" onerror="this.src='assets/img/default_image.png'" alt="sensor-img" class="img-thumbnail mx-auto">
        </div>
        <div class="cell-md-6">
            <h2 ng-bind="::sensorItem.name"></h2>
            <h5 ng-bind="::sensorItem.typeName"></h5>
            <div class="mt-2">
                <i class="fas fa-map-marker-alt"></i>
                <span ng-bind="sensorItem.address"></span>
            </div>
            <div class="mt-2">
                <strong>Status :</strong>
                <span ng-bind="sensorItem.status"></span>
            </div>
            <div class="display3 mt-2">
                <span ng-bind="sensorItem.value"></span>
                <span ng-bind="sensorItem.unit"></span>
            </div>
        </div>
        <div class="cell-md-2 text-center text-right-md">
            <button type="button" class="button square secondary outline large" ng-click="openSensorChart()">
                <span class="mif-chart-dots mif-2x"></span>
            </button>
        </div>
    </div>
    <div class="mt-2" ng-if="::sensorItem.description">
        <h3>Description</h3>
        <p ng-bind="sensorItem.description"></p>
    </div>
    <div class="mt-2">
        <strong>Model :</strong>
        <span ng-bind="::sensorItem.model"></span>
    </div>
    <div class="mt-2">
        <strong>Manufacturer :</strong>
        <span ng-bind="::sensorItem.manufacturer"></span>
    </div>
    <div class="mt-2">
        <strong>Modified :</strong>
        <span ng-bind="::sensorItem.modified | date:'medium'"></span>
    </div>
    <div class="mt-2">
        <strong>Created :</strong>
        <span ng-bind="::sensorItem.created | date:'medium'"></span>
    </div>
</div>
<div id="chartBox" class="info-box" data-role="infobox" data-width="800">
    <span class="button square closer"></span>
    <div class="info-box-content">
        <canvas id="chartCanvas"></canvas>
    </div>
</div>