<md-content class="md-padding md-margin" md-whiteframe="1" data-ng-if="locationItemLoaded">
    <div layout="row" layout-xs="column">
        <div flex flex-gt-xs="25">
            <img class="image-thumbnail image-responsive" data-ng-src="{{locationItem.photo}}"
                onerror="this.src='assets/img/other/default-photo.png'" alt="Item-Photo">
        </div>
        <div flex flex-gt-xs="75" flex-offset-gt-xs="5">
            <div class="md-display-1">
                <span data-ng-bind="::locationItem.name"></span>
            </div>
            <div class="md-title">
                <span data-ng-bind="::locationItem.type.name"></span>
            </div>
            <div class="margin-top-15">
                <md-icon>place</md-icon>
                <span data-ng-bind="locationItem.address"></span>
            </div>
            <div class="text-align-center margin-top-15" layout="row" layout-xs="column" layout-align="center center">
                <div flex flex-gt-xs="15">
                    <img data-ng-src="{{locationItem.icon}}" alt="Item-Icon">
                </div>
                <div flex flex-gt-xs="5">
                    <span class="md-display-2">|</span>
                </div>
                <div flex flex-gt-xs="15">
                    <img data-ng-src="{{locationItem.status.icon}}" alt="Item-Status">
                    <div class="md-caption">
                        <span data-ng-bind="locationItem.status.name"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="margin-top-15" data-ng-if="locationItem.description">
        <span class="md-title">Description</span>
        <p data-ng-bind="::locationItem.description"></p>
    </div>
    <div class="margin-top-15" layout="row" layout-xs="column" layout-align="left center">
        <div flex flex-gt-xs="25">
            <strong>Updated :</strong>
            <span data-ng-bind="::locationItem.updated | date:'medium'"></span>
        </div>
        <div flex flex-gt-xs="5">
            <strong>|</strong>
        </div>
        <div flex flex-gt-xs="25">
            <strong>Created :</strong>
            <span data-ng-bind="::locationItem.created | date:'medium'"></span>
        </div>
    </div>
</md-content>
<div style="visibility: hidden">
    <div class="md-dialog-container" id="chartDialog">
        <md-dialog aria-label="Chart-Dialog" layout-padding>
            <div class="text-align-right">
                <md-button class="md-icon-button" aria-label="Close-Button" data-ng-click="hideChartDialog()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
            <canvas id="chartCanvas" width="400" height="400"></canvas>
        </md-dialog>
    </div>
</div>